{% comment %}
  Renders a swatch visual with circle styling

  Accepts:
  - swatch: {String} swatch value (hex, rgb, or url)
  - shape: {String} swatch shape (square, circle, defaults to circle)
  - additional_props: {String} additional properties to attach to the swatch span (optional)

  Usage:
  {% render 'swatch', swatch: swatch, shape: shape, additional_props: additional_props %}
{% endcomment %}

{%- liquid
  assign swatch_value = swatch
  assign swatch_focal_point = null
  if swatch.image
    assign image_url = swatch.image | image_url: width: 50
    assign swatch_value = 'url(' | append: image_url | append: ')'
    assign swatch_focal_point = swatch.image.presentation.focal_point
  elsif swatch.color
    assign swatch_value = 'rgb(' | append: swatch.color.rgb | append: ')'
  endif
-%}

<span
  {% if swatch_value %}
    class="swatch swatch--{{ shape | default: 'circle' }}"
    style="--swatch--background: {{ swatch_value }};{% if swatch_focal_point %} --swatch-focal-point: {{ swatch_focal_point }};{% endif %}"
  {% else %}
    class="swatch swatch--{{ shape | default: 'circle' }} swatch--unavailable"
  {% endif %}
  {% if additional_props %}
    {{ additional_props }}
  {% endif %}
></span>
